@charset "UTF-8";
:root{
  --primary-color: #00a76f;
  --alert-color:#95de64;
}
/*css 初始化 */
* {
  margin: 0;
  padding: 0;
}

fieldset,
img,
input,
button {
  border: none;
  padding: 0;
  margin: 0;
  outline-style: none;
}

/*去掉边框、去掉轮廓（比如输入框外面的蓝边框）*/

/*去掉列表前面的圆点*/
ul,
ol {
  list-style: none;
}

input {
  padding-top: 0;
  padding-bottom: 0;
}

/*字体一般是指定这两个*/
select,
input {
  vertical-align: middle;
}

select,
input,
textarea {
  font-size: 12px;
  margin: 0;
}

textarea {
  resize: none;
}

/*禁止文本输入框在右下角拖拽（因为拖动后会调整输入框大小）*/
img {
  border: 0;
  vertical-align: middle;
}

/* 去掉图片底侧默认的3像素空白缝隙*/
table {
  border-collapse: collapse;
}


/*start:清除浮动【推荐此方式进行清除浮动】。左浮动和右浮动都清除了，盒子刚好达到闭合的状态*/
.clearfix:before,
.clearfix:after {
  content: "";
  display: table;
}

.clearfix:after {
  clear: both;
}

.clearfix {
  zoom: 1;
  /*IE/7/6*/
}

/*end：清除浮动*/

a {
  color: #666;
  text-decoration: none;
}

/*去掉超链接的下划线*/

h1,
h2,
h3,
h4,
h5,
h6 {
  text-decoration: none;
  font-weight: normal;
  font-size: 100%;
}

/*font-size:100% 的意思是：让它们和父亲一样大，避免在不同的浏览器中显示大小不一致*/
s,
i,
em {
  font-style: normal;
  text-decoration: none;
}

/*去掉i标签和em的斜体，取消s标签的删除线*/


/* 自制弹窗样式 */
.alert{
  position: absolute;
top: 2%;
left: 50%;
transform: translateX(-50%);
  width: 400px;
  height: 100px;
  background-color: var(--alert-color);
  box-shadow: inset;
  z-index: 100;
  border-radius: 5%;
  text-align: center;
  line-height: 100px;
  font-weight: bolder;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.3)
}